#!/bin/bash
while read oldrev newrev ref
do
  if [[ $ref =~ .*/master$ ]];
  then
    echo "Master ref received.  Deploying master branch to production..."
    git --work-tree=~/performance_tracker --git-dir=~/performance_tracker-git checkout -f
    crontab ~/performance_tracker/performance_tracker/setup/sample_crontab
    echo "New crontab config:"
    crontab -l
    echo "System updated & running"
  else
    echo "Ref $ref received. Doing nothing: only the master branch may be deployed on this server."
  fi
done

