#!/bin/bash
unset GIT_DIR
unset GIT_WORK_TREE
while read oldrev newrev ref
do
  if [[ $ref =~ .*/master$ ]];
  then
    echo "Master ref received.  Deploying master branch to production..."
    git --work-tree=/home/ubuntu/performance_tracker-worktree --git-dir=/home/ubuntu/performance_tracker-gitdir checkout -f master
    crontab ~/performance_tracker-worktree/performance_tracker/setup/sample_crontab
    echo "New crontab config:"
    crontab -l
    cd ~/performance_tracker-worktree
    python3 -m venv venv
    source venv/bin/activate
    pip install cython
    pip install numpy
    pip install -r requirements.txt
    deactivate
    echo "System updated & running"
  else
    echo "Ref $ref received. Doing nothing: only the master branch may be deployed on this server."
  fi
done

